/*
 * MIT License
 *
 * Copyright (c) 2020-2021 Tobias Pfeiffer <t.pfeiffer@htlstp.at>
 * Copyright (c) 2020-2021 Samuel Braunauer <s.braunauer@htlstp.at>
 * Copyright (c) 2020-2021 Philip Ebner <p.ebner@htlstp.at>
 * Copyright (c) 2020-2021 Raphael Loescher <r.loescher@htlstp.at>
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

:root {
	--color-accent: #9CCE2B;
	--color-accent-active: #8CBE1B;
	--color-attention: red;
	--color-tooltip: grey;
	--theme-dark-text: #E8E8E8;
	--theme-dark-default: #101010;
	--theme-dark-active: #202020;
	--theme-dark-select: #303030;
	--theme-dark-body: black;
	--theme-light-default: white;
	--theme-light-active: #F4F4F4;
	--theme-light-select: #F0F0F0;
	--theme-light-body: #FAFAFA;
	--theme-light-shadow: #80808080;
	--login-background: url("https://www.htlstp.ac.at/startseite/@@imagefullwidth/3807b70d39914bffb46c8d7e7962ae7d/@@images/image/hero");
}

body, body * {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	display: grid;
}

body {
	display: grid !important;
	grid-template: max-content 1fr max-content / 1fr;
	min-height: 100vh;
	scroll-behavior: smooth;
}

body[data-user-type="admin"]   .header-menu:not(.user-admin),
body[data-user-type="teacher"] .header-menu:not(.user-teacher),
body[data-user-type="student"] .header-menu:not(.user-student),
body:not([data-user-type="admin"]) #header_logo_admin,
body:not([data-user-type]) header > * {
	display: none;
}

#watermark {
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 1000%;
	font-weight: bold;
	text-align: center;
	place-content: center;
	color: #80808008;
	z-index: -1;
}

header {
	box-shadow: 0 -0.5em 1em black;
}

body[data-user-type="student"] header {
	grid-template-columns: 1fr repeat(2, max-content) 1fr;
}

body[data-user-type="teacher"] header {
	grid-template-columns: 1fr repeat(3, max-content) 1fr;
}

body[data-user-type="admin"] header {
	grid-template-columns: max-content 1fr repeat(5, max-content) 1fr;
}

#logo {
	place-self: center start;
	margin: 1em;
}

#header_logo_admin {
	place-self: center start;
	margin: 0.5em;
	font-family: "JetBrains Mono ExtraBold", monospace;
	font-weight: bold;
	font-size: 175%;
	letter-spacing: 0.1em;
}

#header_user {
	place-self: center end;
	position: relative;
	margin: 1em;
}

.user {
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	grid-gap: 0.5em;
	place-items: center;
	height: max-content;
	padding: 0 0.75em 0 0 !important;
	border-radius: 1em !important;
	font-size: 90%;
	user-select: none;
}

.user > img {
	border-radius: 100%;
	width: 1.75em;
	height: 1.75em;
}

#user_logout:hover {
	color: var(--color-accent);
}

section {
	grid-template-columns: max-content 1fr;
	grid-auto-flow: row;
	grid-auto-rows: max-content;
	grid-gap: 3em;
	padding: 2em;
	margin: 0 auto;
	width: 60em;
	min-width: min(50vmax, 90vw);
	max-width: 90vw;
}

footer {
	grid-auto-flow: column;
	place-content: center;
	grid-auto-columns: 1fr;
	grid-gap: 0.75em;
	padding: 0.75em;
	box-shadow: 0 0.5em 1em black;
}

.header-menu {
	padding: 1.5em 2em;
	user-select: none;
	border-bottom: 0.2em solid rgba(0, 0, 0, 0);
}

.header-menu.active,
.form-subpage-select > .active {
	border-bottom: 0.2em solid var(--color-accent);
}

.header-menu:hover,
.header-menu.active,
.form-subpage-select > :hover,
.form-subpage-select > .active {
	color: var(--color-accent);
	transition: color 150ms;
	cursor: pointer;
}

.side-menu {
	position: relative;
}

.content-hint {
	place-self: center;
	margin-top: 2.5em;
	font-size: 120%;
}

.hidden {
	display: none !important;
}

#content-loading {
	margin-top: 10em;
	grid-column: 1 / -1;
	place-self: center;
}

#content-loading > * {
	border-top: 1em solid var(--color-accent) !important;
	border-radius: 50%;
	width: 5em;
	height: 5em;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

input {
	font-size: 100%;
}

#subject_list > * > *:last-child,
#history_list > * > *:nth-last-child(2),
#competence_list > * > *:last-child,
#subject_grades_list > * > *:last-child,
#group_students_list > * > *:nth-last-child(-n+2),
#group_grades_list > * > *:last-child,
#group_student_grades_list > * > *:nth-last-child(-n+4),
#group_grades_grades_list > * > *:nth-last-child(-n+3) {
	justify-self: end;
	text-align: end;
}

#competence_list {
	grid-template-columns: repeat(2, max-content) 1fr;
}

/*
 * LOGIN VIEW ----------------------------------------------------------------------------------------------------------
 */

#login {
	place-self: stretch;
}

#login-box {
	grid-column: 1 / -1;
	grid-gap: 1em;
	grid-auto-flow: row;
	place-self: start center;
	place-items: stretch;
	width: 20em;
	padding: 2em 3em;
	margin-top: 4em;
	border-radius: 1em;
}

#login_remember {
	place-items: start;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
}

#login-box > #login-header {
	font-size: 125%;
	font-family: "JetBrains Mono", monospace;
	font-weight: 800;
}

#login-box #login_rem {
	margin-right: 1em;
}

#content.login-background {
	background: no-repeat var(--login-background) center;
	background-size: cover;
	width: 100%;
	max-width: unset;
	box-sizing: border-box;
}

/*
 * STUDENT VIEW --------------------------------------------------------------------------------------------------------
 */

#subject_combine {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	place-self: stretch;
	place-items: center start;
	grid-gap: 1em;
}

#subject_list > * {
	grid-column: 1 / 5;
}

#history_list > * {
	grid-column: 1 / 7;
}

#final_grade {
	font-weight: bold;
}

#subject_grades_list {
	grid-template-columns: repeat(5, max-content) 1fr;
}

#back {
	padding: 0.5em;
	border-radius: 0.25em;
	cursor: pointer;
	transition: color 150ms;
	user-select: none;
}

/*
 * TEACHER VIEW --------------------------------------------------------------------------------------------------------
 */

#group_edit input,
#category_edit input,
#student_info input {
	padding: 0;
	margin: 0;
	border: none;
	place-self: stretch;
}

#group_actions,
#category_actions {
	visibility: hidden;
}

#group_students_list {
	grid-template-columns: repeat(3, max-content) 1fr max-content;
}

#group_grades_list {
	grid-template-columns: repeat(4, max-content) 1fr;
}

#group_student_grades_list {
	grid-template-columns: repeat(9, max-content) 1fr;
}

#group_grades_grades_list {
	grid-template-columns: repeat(7, max-content) 1fr;
}

#student_name {
	grid-column: 1 / span 2;
	font-weight: bold;
	margin-bottom: 0.75em;
	font-size: 110%;
}

.competence-list-status-none,
.competence-list-status-passed,
.competence-list-status-failed {
	padding: 0.35em;
	border-radius: 0.4em;
	font-size: 80%;
}

.competence-list-status-none::after {
	content: "-";
}

.grade-competence-title {
	grid-auto-flow: column;
	grid-gap: 0.1em;
}

.grade-competence-title > * {
	place-content: center;
	width: 1em;
	height: 1em;
	padding: 0.35em;
	font-size: 80%;
}

.grade-competence-container {
	grid-auto-flow: column;
	grid-gap: 0.1em;
}

.grade-competence-checkbox {
	place-self: center start;
	place-content: center;
	width: 1em;
	height: 1em;
	padding: 0.35em;
	border-radius: 0.4em;
	font-size: 80%;
	cursor: pointer;
}

.grade-competence-checkbox.grade-competence-none::after {
	content: "-";
}

.competence-list-status-passed,
.grade-competence-checkbox.grade-competence-passed {
	background-color: limegreen;
	color: white;
}

.grade-competence-checkbox.grade-competence-passed::after {
	content: "P";
}

.competence-list-status-failed,
.grade-competence-checkbox.grade-competence-failed {
	background-color: red;
	color: white;
}

.grade-competence-checkbox.grade-competence-failed::after {
	content: "F";
}

/*
 * ADMIN VIEW ----------------------------------------------------------------------------------------------------------
 */

#admin_home_container {
	grid-column: 1 / -1;
	grid-gap: 1em;
	place-content: center;
}

#admin_frame_container {
	grid-column: 1 / -1;
	display: flex;
	height: 75vh;
}

#admin_frame_container > iframe {
	border: none;
}

/*
 * LISTS ---------------------------------------------------------------------------------------------------------------
 */

.list {
	grid-auto-flow: row;
	grid-auto-rows: max-content;
	grid-gap: 0 2.5em;
}

.list > * {
	grid-template-rows: subgrid;
	grid-template-columns: subgrid;
	grid-column: 1 / -1;
	align-items: center;
	padding: 0.5em;
	border-radius: 0.25em;
	transition: background-color 300ms;
}

.list > *:nth-child(-n+1) {
	font-weight: bold;
}

.list.select > *:not(:first-child) {
	cursor: pointer;
}

.list > .action-add:hover,
.list > .delete-hover {
	color: white;
}

.list > .action-add {
	transition: background-color, opacity 300ms;
	user-select: none;
	cursor: pointer;
}

.list:not(:hover) > .action-add {
	opacity: 0;
}

.list > .action-add:hover {
	background-color: var(--color-accent-active) !important;
}

.list > .action-add > * {
	grid-column: 1 / -1;
	place-self: center !important;
}

.list > div > .btn-remove {
	cursor: pointer;
	opacity: 100%;
	transition: opacity 150ms;
	user-select: none;
}

.list > div:not(:hover) > .btn-remove {
	opacity: 0;
}

.list > .delete-hover {
	background-color: var(--color-attention) !important;
}

.list > * > .list-line-number {
	font-size: 85%;
	color: gray;
	font-weight: bold;
	place-self: center;
}

/*
 * BUTTON --------------------------------------------------------------------------------------------------------------
 */

.btn {
	display: inline-block;
	padding: 0.80em 1.60em;
	text-align: center;
	border-radius: 0.35em;
	font-size: 80%;
	font-weight: bold;
	cursor: pointer;
	transition: all 150ms;
	user-select: none;
}

.btn-cancel {
	background-color: var(--color-attention);
}

.btn-cancel:hover,
.btn-cancel:active,
.btn-cancel.active {
	background-color: darkred;
}

/*
 * FORMS, INPUT --------------------------------------------------------------------------------------------------------
 */

input {
	border-radius: 0.35em;
	border: #00000000 solid 0.1em;
	padding: 0.75em;
}

input:focus {
	transition: border-color 150ms;
	border-color: grey;
}

.form {
	grid-auto-flow: row;
	grid-auto-rows: max-content;
	grid-gap: 1.75em 0;
}

.form > * {
	overflow-x: auto;
	scrollbar-width: thin;
}

.form-menu {
	grid-auto-flow: row;
	grid-auto-rows: max-content;
	grid-gap: 0.5em;
	width: 12.5em;
}

.form-menu > * {
	padding: 0.5em 1em;
	border-radius: 2em;
	cursor: pointer;
	transition: all 150ms;
	user-select: none;
}

.form-menu > input {
	width: 100%;
	box-sizing: border-box;
	transition: background-color 150ms !important;
	background-color: unset !important;
	margin: 0;
	border: 0.1em solid #B0B0B0;
}

.form-menu-title {
	font-size: 85%;
	font-weight: bold;
	cursor: unset !important;
	padding: 0.5em 0.0em !important;
	margin-left: 0.5em;
}

.form-menu-back {
	position: absolute;
	top: 0;
	right: 100%;
	margin-right: 0.25em;
	padding: 0.5em;
	width: 1.25em;
	height: 1.25em;
	place-content: center;
	border-radius: 100%;
}

.form-hint {
	padding: 0.5em 0.75em;
	border-radius: 0.25em;
	color: var(--color-attention);
	background-color: #FF8888;
	font-weight: bold;
}

.form-values {
	grid-template-columns: max-content 1fr max-content;
	grid-auto-flow: row;
	grid-auto-rows: max-content;
	grid-gap: 0.25em 0.75em;
	overflow: unset;
}

.form-title {
	font-weight: bold;
	font-size: 125%;
}

.form-action-bar {
	grid-auto-flow: column;
	grid-column: 3 / 4;
	/*grid-row: 1 / -1;*/
	grid-row-end: span 2;
	grid-gap: 0.5em;
	place-content: start end;
}

.form-action-bar > div {
	place-content: center;
	width: 2em;
	height: 2em;
	border-radius: 100%;
	cursor: pointer;
	transition: all 150ms;
	user-select: none;
}

.form-label {
	align-self: center;
	justify-self: end;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	grid-column-start: 1;
	font-size: 80%;
	font-weight: bold;
}

.form-input {
	place-self: stretch;
	height: 1em;
}

.form-input:not(:focus):empty::after {
	content: "-";
}

input.form-input {
	width: max-content;
}

.form-input.form-input-invalid {
	border: 0.1em solid var(--color-attention);
}

.form-checkbox {
	place-self: start !important;
	margin: 0.25em 0.5em !important;
}

.form-btn {
	font-size: 85%;
	border-radius: 100%;
	place-content: center;
	padding: 0.25em 0.5em;
	cursor: pointer;
	user-select: none;
}

.form-tag {
	font-size: 80%;
	font-weight: bold;
	background-color: var(--color-accent);
	padding: 0.1em 0.5em;
	border-radius: 0.25em;
}

.form-single-select-container {
	height: 1.5em;
	padding: 0 !important;
	place-content: start;
}

.form-single-select {
	grid-template-columns: 1fr;
	place-items: stretch;
	border-radius: 0.25em;
}

.form-single-select.form-writable {
	cursor: pointer;
}

.form-multi-select:not(.form-writable) > .form-multi-select-add,
.form-multi-select:not(.form-writable) > .form-single-select-container,
.form-single-select.form-single-select-hidden > *:not(:first-child) {
	display: none;
}

.form-single-select:not(.form-single-select-hidden) {
	z-index: 2;
}

.form-multi-select {
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	grid-gap: 0.3em;
	align-items: center;
}

.form-multi-select > .form-multi-select-add {
	cursor: pointer;
	user-select: none;
	border-radius: 100%;
	place-content: center;
	padding: 0;
	width: 1.75em;
	height: 1.75em;
}

.form-multi-select:not(:hover) > .form-multi-select-add {
	transition: opacity 150ms;
	opacity: 0;
}

.form-multi-select .form-multi-select-del {
	cursor: pointer;
	user-select: none;
	margin-left: 0.25em;
	font-size: 75%;
	place-content: center;
}

.form-multi-select > .form-multi-select-selection {
	grid-auto-flow: column;
}

.form-single-select > *,
.form-multi-select > *,
.form-input {
	padding: 0.25em 0.5em;
	border-radius: 0.25em;
	grid-gap: 0.1em;
}

.form-single-select,
.form-multi-select > .form-multi-select-selection,
.form-input {
	transition: background-color 250ms, box-shadow 250ms;
	background-color: #00000000;
	box-shadow: 0 0 0.5em #00000000;
}

.form-subpage-select {
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	justify-items: start;
	font-size: 110%;
}

.form-subpage-select > * {
	padding: 0.5em 1em;
	user-select: none;
	border-bottom: 0.2em solid #00000000;
}

.form-tooltip-symbol {
	position: relative;
	align-self: center;
	place-content: center;
	width: 1em;
	height: 1em;
	padding: 0.25em;
	margin: 0 0.5em;
	color: var(--color-tooltip);
	border-radius: 100%;
	border: var(--color-tooltip) solid 0.2em;
	font-size: 70%;
	font-weight: bold;
	user-select: none;
}

.form-tooltip-symbol::before {
	content: "?";
}

.form-tooltip-symbol:not(:hover) > .form-tooltip {
	display: none;
}

.form-tooltip {
	position: absolute;
	align-self: center;
	left: 1.75em;
	z-index: 4;
	width: max-content;
	max-width: 20em;
	padding: 0.5em 0.75em;
	border-radius: 0.25em;
	font-size: 150%;
	font-weight: normal;
	color: initial;
}

.form-multi-select-small {
	place-self: center start;
	place-content: center;
	width: 1em;
	height: 1em;
	padding: 0.35em;
	border-radius: 0.4em;
	font-size: 80%;
	cursor: pointer;
}

.form-multi-select-small:hover {
	background-color: white;
}

/*
* MESSAGES ------------------------------------------------------------------------------------------------------------
*/

.msg-info {
	color: #0000FF;
	background-color: #00B0FF;
}

.msg-success {
	color: #00D000;
	background-color: #B0FFB0;
}

.msg-warning {
	color: goldenrod;
	background-color: #FFE560;
}

.msg-error {
	color: #FF0000;
	background-color: #FF8888;
}

.msg-info > .toast-msg-bar {
	background-color: #0040FF;
}

.msg-success > .toast-msg-bar {
	background-color: #00D000;
}

.msg-warning > .toast-msg-bar {
	background-color: goldenrod;
}

.msg-error > .toast-msg-bar {
	background-color: red;
}

.msg-large {
	font-size: 500%;
	font-weight: 600;
}


/*
 * TOAST MESSAGES ------------------------------------------------------------------------------------------------------
 */

#toast_msg_container {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 11;
	width: 20rem;
	margin: 0.75em;
	grid-gap: 0.5em;
}

@keyframes toast-msg-fade {
	from { opacity: 0.90; }
	90% { opacity: 0.90; }
	to { opacity: 0; }
}

.toast-msg {
	padding: 0;
	border-radius: 0.2em;
	font-weight: 600;
	animation: linear 5s toast-msg-fade;
}

.toast-msg:nth-child(n+6) {
	display: none;
}

.toast-msg > *:first-child {
	padding: 0.4em 0.8em 0.15em 0.8em;
}

@keyframes toast-msg-bar {
	from { width: 100%; }
	to { width: 0; }
}

.toast-msg-bar {
	height: 0.25em;
	animation: linear 5s toast-msg-bar;
	border-radius: 0 0 0 0.2em;
}

/*
 * RESPONSIVE BEHAVIOUR ------------------------------------------------------------------------------------------------
 */

.btn,
.form-action-bar > div {
	background-color: var(--color-accent);
}

.btn:hover,
.btn:active,
.btn.active,
.form-action-bar > div:hover,
.form-btn:hover {
	background-color: var(--color-accent-active);
}

/* light theme */
@media (prefers-color-scheme: light) {
	body {
		background-color: var(--theme-light-body);
	}
	
	.form-menu > input:hover,
	.form-menu > input:focus {
		background-color: var(--theme-light-default) !important;
	}
	
	header,
	footer,
	#login-box,
	.form-single-select:not(.form-single-select-hidden),
	.form-single-select.form-single-select-hidden.form-writable:hover,
	.form-multi-select.form-writable > .form-multi-select-selection,
	.form-input.form-writable:hover,
	.form-input.form-writable:focus,
	.form-btn {
		background-color: var(--theme-light-default);
	}
	
	.list > *:nth-child(2n),
	.form-menu-back,
	#back {
		background-color: var(--theme-light-active);
	}
	
	input,
	#student_select > * > *:hover,
	#back:hover,
	.user,
	.list.select > *:not(:first-child):hover,
	.form-single-select:not(.form-single-select-hidden) > *:hover,
	.form-menu > *:hover:not(.form-menu-title),
	.form-menu > *.active,
	.grade-competence-checkbox.grade-competence-none {
		background-color: var(--theme-light-select);
	}
	
	#login-box,
	.form-single-select:not(.form-single-select-hidden),
	.form-single-select.form-single-select-hidden.form-writable:hover,
	.form-multi-select.form-writable > .form-multi-select-selection,
	.form-btn,
	.form-multi-select-small:hover {
		box-shadow: 0 0 0.3em var(--theme-light-shadow);
	}
	
	.form-tooltip {
		background-color: #F0F0F0EA;
	}
	
	#content-loading > * {
		border: 1em solid var(--theme-light-select);
	}
}

/* dark theme */
@media (prefers-color-scheme: dark) or (prefers-color-scheme: no-preference) {
	body {
		color: var(--theme-dark-text);
		background-color: var(--theme-dark-body);
	}
	
	input, .form-tooltip {
		color: var(--theme-dark-text);
	}
	
	header,
	footer,
	#login-box,
	#back,
	.list > *:nth-child(2n),
	.form-menu-back {
		background-color: var(--theme-dark-default);
	}
	
	input,
	#student_select > * > *:hover,
	#back:hover,
	.user,
	.list.select > *:not(:first-child):hover,
	.form-menu > *:hover:not(.form-menu-title),
	.form-menu > *.active,
	.form-single-select:not(.form-single-select-hidden),
	.form-single-select.form-single-select-hidden.form-writable:hover,
	.form-multi-select.form-writable > .form-multi-select-selection,
	.form-input:hover.form-writable,
	.form-input:focus.form-writable,
	.form-btn,
	.grade-competence-checkbox.grade-competence-none {
		background-color: var(--theme-dark-active);
	}
	
	.form-action-bar {
		color: var(--theme-dark-default);
	}
	
	.form-single-select:not(.form-single-select-hidden) > *:hover {
		background-color: var(--theme-dark-select);
	}
	
	.form-tooltip {
		background-color: #202020EA;
	}
	
	#content-loading > * {
		border: 1em solid var(--theme-dark-active);
	}
}

/* desktop */
@media (min-aspect-ratio: 3/2) {

}

/* tablet */
@media (max-aspect-ratio: 3/2) and (min-aspect-ratio: 2/3) {

}

/* smart phone */
@media (max-aspect-ratio: 2/3) {
	body {
		font-size: 150%
	}
	
	body[data-user-type="teacher"] header {
		grid-template-columns: 1fr repeat(3, max-content) 1fr;
		grid-template-rows: repeat(2, max-content);
	}
	
	section {
		margin: 0;
		width: unset;
		min-width: unset;
		max-width: unset;
	}
	
	footer {
		font-size: 166%;
		height: unset;
		grid-auto-flow: row;
		place-items: center !important;
	}
	
	#login-box {
		font-size: 166%;
		place-self: start stretch;
		border-radius: 0.75em;
		padding: 1.5em;
		margin: 0;
		width: unset;
	}
	
	.list .btn-remove,
	.list .action-add {
		opacity: unset !important;
	}
	
	.form-action-bar {
		grid-column: 1 / 3;
		place-content: start;
		margin-bottom: 0.75em;
	}
}

/*
 * FONTS ---------------------------------------------------------------------------------------------------------------
 */

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
	url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
	url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff') format('woff');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
	url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
	url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2') format('woff2'),
	url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
	url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
	url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
